.exercise{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3vh;
}
.exercise-content {
    width: 50rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
@media only screen and (max-width: 850px) {
    .exercise-content {
        width: 30rem;
    }
}
@media only screen and (max-width: 520px) {
    .exercise-content {
        width: 20rem;
    }
}
.desc,
.longer-gray-desc{
    border: 0.03px solid white;
    width:25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 2rem;
    border-radius: 5px;
}
.desc h2{
    color:rgb(59, 110, 177);
}
.desc h1{
    color:rgb(59, 110, 177);
}
.blue-desc-exercise,
.gray-desc-exercise,
.white-desc-exercise{
    width:10rem;
    height: 2rem;
    border: 0.03px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 1px;
}
.blue-desc-exercise{
    background-color: rgb(59, 110, 177);
    border-radius: 5px;
    margin-left: 1px;
}
.blue-desc-exercise h1{
    color: white;
}
.blue-desc-exercise h1,
.gray-desc-exercise h1,
.white-desc-exercise h1{
    margin: 0;
    padding: 0;
}
.desc button{
    background-color: #ebebeb;
    height: 1.5rem;
    color:black;
    border: 1.4px solid black;
    border-radius: 0.3rem;
}
.gray-desc-exercise button{
    background-color: #ebebeb;
    color:black;
    border: 1.4px solid black;
    border-radius: 0.3rem;
    width: 1.4rem;
    height: 1.4rem;
}
.desc button:hover,
.gray-desc button:hover,
.food-content-2 button:hover{
    cursor: pointer;
}
.food-content-2 button{
    margin-top: 2vh;
    background-color: #ebebeb;
    color:black;
    border: 1.4px solid black;
    border-radius: 0.3rem;
    width: 8rem;
    height:2rem;
}
.gray-desc-exercise,
.longer-gray-desc{
    background-color: rgb(243, 243, 243);
}
.meal-one-line{
    height: 2rem;
    width: 40rem;
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    margin-bottom: 0.5vh;
}
.meal-one-line input[type=text]{
    margin-left: 0.5rem;
    margin-right: 1rem;
    width: 5rem;
}
.meal-one-line h1{
    margin-left: 1rem;
}
.adding-exercise-line .single-line h1{
    font-size: 1.1rem;
}
.left-side{
    display: flex;
    align-items: center;
    width:100%;
    justify-content: flex-start;
}
.right-side{
    display: flex;
    align-items: center;
    width:100%;
    justify-content: flex-end;
}
.date-line{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1vh;
    border-bottom: 2px solid rgb(218, 217, 217);
}
.calendar{
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 110, 177);
    color: white;
    height: 2rem;
    width: 6rem;
    border-radius: 0.5rem;
}
.calendar-wings{
    background-color: white;
    width:50%;
    height: 1rem;
}
.calendar-wings:hover{
    cursor: pointer;
}
.gray-desc-exercise button{
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background-color: rgb(59, 110, 177);
}
.gray-desc-exercise button:hover{
   cursor: pointer;
}
#left-arrow{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    clip-path: polygon(100% 0, 100% 1%, 100% 100%, 100% 100%, 0% 50%);
}
#right-arrow{
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    clip-path: polygon(0% 0%, 0 0, 100% 50%, 0 100%, 0% 100%);
}
.date-line select{
    margin-left: 0.5vw;
    background-color: rgb(240, 240, 240);
    color:black;
    border: 1px solid black;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
}
.date-line h2{
    color:rgb(59, 110, 177);
}
.adding-exercise-line{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2vh;
}
.adding-exercise-line input{
    margin-left: 0.5rem;
    height: 1.2rem;
    background-color: rgb(240, 240, 240);
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    padding-left: 0.2vw;
    margin-bottom: 1rem;
}
.adding-exercise-line button{
    background-color: #ebebeb;
    color:black;
    border: 1px solid #d2d2d2;
    border-radius: 0.3rem;
    width: 8rem;
    height:2rem;
}
.adding-exercise-line button:hover{
    cursor: pointer;
    background-color: #e4e2e2;
}
.single-ex-line{
    display: flex;
    align-items: center;
    width: 15rem;
}
.left{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.right{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
@media only screen and (max-width: 850px) {
    .adding-exercise-line h1{
        font-size: 0.8rem;
    }
    .adding-exercise-line button{
        font-size: 0.7rem;
        width:5rem;
    }
    .single-line .left h1{
        margin-left: 0.5rem;
        font-size: 0.8rem;
    }
    .single-ex-line{
        flex-direction: column;
    }
    .single-ex-line .right{
        justify-content: flex-start;

    }
    .calendar-wings {
        width: 15%;
        height: 0.7rem;
    }
}