.upper-bar{
    width:100%;
    display: flex;
    justify-content: center;
    height: 10vh;
    color: rgb(76, 145, 235);
}
.u-bar{
    width:60%;
    height:100%;
    background-color: white;
    display: flex;
}
.u-left{
    width:40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.u-left h1{
    font-size: 1.5rem;
}
.u-right{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.u-right h1{
    font-size: 1rem;
    margin-left: 0.5vw;
}