.navigation-bar{
    width:100%;
    height: 5vh;
    background-color: rgb(76, 145, 235);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.n-bar,
.slogan{
    width:50%;
    height:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.n-bar h1,
.slogan h1{
    font-size: 1rem;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 5vh;
    display: flex;
    align-items: center;
}
.n-bar h1:hover{
    background-color: rgb(59, 110, 177);
}
.upper-bar{
    width:100%;
    display: flex;
    justify-content: center;
    height: 10vh;
    color: rgb(76, 145, 235);
}
.u-bar{
    width:60%;
    height:100%;
    background-color: white;
    display: flex;
}
.u-left{
    width:40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.u-left h1{
    font-size: 1.5rem;
}
.u-right{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.u-right h1{
    font-size: 1rem;
    margin-left: 0.5vw;
}
#visibleSign{
    display: flex;
}
#hiddenSign{
    display: none;
}
#gray{
    color: rgb(211, 211, 211);
    font-size: 1rem;
}
