.home-display{
    width:100%;
    height:90vh;
    background: url('food.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ad-div1,
.ad-div2,
.ad-div3{
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
}

.ad-div1,
.ad-div3{
    width:15rem;
    height:22rem;
}
.ad-div2{
    width:17rem;
    height:31rem;
}

.ad-div1 h1,
.ad-div2 h1,
.ad-div3 h1{
    color: rgb(52, 97, 155);
    font-size: 1.0rem;  
}
.ad-div1 h2,
.ad-div2 h2,
.ad-div3 h2{
    margin-bottom: -1rem;
    color: rgb(52, 97, 155);
    font-size: 2rem;
}
.ad-div1 h3,
.ad-div2 h3,
.ad-div3 h3{
    margin-bottom: 2rem;
    color: rgb(52, 97, 155);
    font-size:3rem;
}
.ad-div2 .ad-line h3,
.ad-div2 .ad-line h1{
    color:rgb(211, 64, 35);
}
.ad-line{
    display: flex;
    justify-content: center;
    align-items: center;
}
.benefit{
    width:100%;
    height: 2rem;
    background-color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ad-end{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
}
.ad-end button{
    background: rgba(52, 97, 155,1);
    height: 2rem;
    font-size: 1.3;
    width:100%;
    color:rgb(255, 255, 255);
    border: 0px solid black;
}
.ad-end button:hover{
    cursor: pointer;
    background: rgb(63, 116, 185);
}