.weight-line,
.weight{
    display: flex;
    justify-content: center;
    align-items: center;
}
.weight-line{
    margin-top: 2vh;
}
.weight{
    flex-direction: column;
}
.weight button,
.weight select,
.weight input{
    margin-left: 0.5vw;
    background-color: rgb(240, 240, 240);
    color:black;
    border: 1px solid black;
    border-radius: 0.3rem;
}
.weight button{
    background: linear-gradient(to bottom, rgb(240, 240, 240)75%, rgb(190, 190, 190) 100%);
    border: 1px solid rgb(155, 155, 155);
    height: 1.5rem;
}
.weight button:hover{
    cursor: pointer;
    background: linear-gradient(to bottom, rgb(236, 236, 236)75%, rgb(216, 216, 216) 100%);
}
.weight-line h1{
    font-size: 1rem;
}
.weight-line input{
    height: 1rem;
}
.weight-chart{
    margin-top: 2vh;
}