.weight-line,
.weight{
    display: flex;
    justify-content: center;
    align-items: center;
}
.weight-line{
    margin-top: 2vh;
}
.weight{
    flex-direction: column;
}
.weight button,
.weight select,
.weight input{
    margin-left: 0.5vw;
    background-color: rgb(240, 240, 240);
    color:black;
    border: 1px solid black;
    border-radius: 0.3rem;
}
.weight button:hover{
    cursor: pointer;
}
.weight-line h1{
    font-size: 1rem;
}
.weight-line input{
    height: 1rem;
}
.weight-chart{
    margin-top: 2vh;
}