.food{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10vh;
}
.food-content{
    width:50rem;
    height:20rem;
        display: flex;
    flex-direction: column;
}
.food h1{
    font-size: 0.8rem;
}
.food h2{
    font-size: 1.3rem;
}
.desc,
.longer-gray-desc{
    border: 0.03px solid white;
    width:25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 2rem;
}
.desc h2{
    color:rgb(59, 110, 177);
}
.desc h1{
    color:rgb(59, 110, 177);
}
.blue-desc,
.gray-desc,
.white-desc{
    width:5rem;
    height: 2rem;
    border: 0.03px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.blue-desc{
    background-color: rgb(59, 110, 177);
    
}
.blue-desc h1{
    color: white;
}
.blue-desc h1,
.gray-desc h1,
.white-desc h1{
    margin: 0;
    padding: 0;
}
.desc button{
    margin-top: 1rem;
    margin-left: 2rem;
    background: linear-gradient(to bottom, rgb(240, 240, 240)75%, rgb(190, 190, 190) 100%);
    height: 1.5rem;
    color:black;
    border: 1.4px solid black;
    border-radius: 0.3rem;
}
.gray-desc button{
    background: linear-gradient(to bottom, rgb(240, 240, 240)75%, rgb(190, 190, 190) 100%);
    color:black;
    border: 1.4px solid black;
    border-radius: 0.3rem;
    width: 1.4rem;
    height: 1.4rem;
}
.desc button:hover,
.gray-desc button:hover,
.food-content-2 button:hover{
    cursor: pointer;
}
.food-content-2 button{
    margin-top: 2vh;
    background: linear-gradient(to bottom, rgb(240, 240, 240)75%, rgb(190, 190, 190) 100%);
    color:black;
    border: 1.4px solid black;
    border-radius: 0.3rem;
    width: 8rem;
    height:2rem;
}
.gray-desc,
.longer-gray-desc{
    background-color: rgb(243, 243, 243);
}
.meal-one-line{
    height: 2rem;
    width: 40rem;
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    margin-bottom: 0.5vh;
}
.meal-one-line input[type=text]{
    margin-left: 0.5rem;
    margin-right: 1rem;
    width: 5rem;
}
.meal-one-line h1{
    margin-left: 1rem;
}
.left-side{
    display: flex;
    align-items: center;
    width:100%;
    justify-content: flex-start;
}
.right-side{
    display: flex;
    align-items: center;
    width:100%;
    justify-content: flex-end;
}