@import '../main.less';
.account-display,
.account{
    .flex(flex,flex-start,center,column);
}
.account-display{
    margin-top: 5rem;
    width:100vw;
    height:80vh;
    justify-content: flex-start;
    h1{
        font-size: 1rem;
    }
}
.account{
    width:40rem;
    height:17rem;
    background-color: @gray-background;
}
.topic{
    width:100%;
    height: 3rem;
    background-color: @dark-blue;
    border-radius: 5px;
    h1{
        margin-left: 1rem;
        color:white;
        font-size: 1.2rem;
    }
}
.grid-account{
    width:100%;
    height:100%;
    display: grid;
    grid-template-areas:
    'left  top top top top top'
    'left  bottom bottom bottom bottom bottom';
}
.left-part{
    padding-top: 0.1rem;
    margin-left: 1rem;
    grid-area: left;
    .flex(flex,flex-start,flex-start,column);
    h1{
        margin-bottom: 0.2rem;
    }
    img{
        height: 3rem;
        width:3rem;
    }
}
#green{
    color: #85C400;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
}
#red-sign{
    color: rgb(196, 0, 0);
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
}
.right-buttons{
    width:100%;
    .flex(flex,flex-start,center,row);
    margin-right: 1rem;
}
.single-line{
    width:100%;
    h1{
        margin-left: 1rem;
    }
}
#scale{
    margin-right: 2rem;
    height:3rem;
    width:3rem;
    &:hover{
        cursor: pointer;
    }
}
.single-column-right{
    width: 100%;
    .flex(flex,center,flex-end,column);
}
.img-border{
    height: 3rem;
    width:3rem;
    background-color: white;
    border: 3px solid @dark-blue;
    border-radius: 50%;
    .flex();
    overflow: hidden;
    margin-left:1rem;
}
.up-part{
    margin-left: 1rem;
    margin-bottom: 0;
    grid-area: top;
    .flex(flex,flex-start,flex-start,column);
    button{
        background-color: @button-background;
        height: 2rem;
        width: 7rem;
        color:black;
        border: 1.4px solid rgb(155, 155, 155);
        border-radius: 0.3rem;
        margin-right: 1rem;
        &:hover{
            cursor: pointer;
            background-color: @button-hover-background;
        }
    }
}
.down-part{
    margin-top: 0rem;
    margin-left: 1rem;
    grid-area: bottom;
    .flex(flex,flex-start,flex-start,column);
    h1{
        font-size: 1rem;
    }
    h2{
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-bottom: 0;
    }
    img{
        margin-left: 1rem;
        height: 1.5rem;
        width: 30rem;
    }
}
.single-column{
    display: flex;
    flex-direction: column;
}
.single-line{
    display: flex;
    align-items: center;
    width: 100%;
}
@media only screen and (max-width: 700px) {
    .account{
        width:25rem;
    }
    .topic h1{
        font-size: 1.0rem;
    }
    .left-part{
        margin-left: 0.5rem
    }
    .left-part h1,
    .up-part h1,
    .down-part h1{
        font-size: 0.8rem;
    }
    #green{
        font-size: 2rem;
    }
    .down-part img{
        height: 1.2rem;
        width: 18rem;
    }
    .right-buttons{
        margin-right: 0.5rem;
    }
    .up-part button {
        height: 2rem;
        width: 4rem;
        font-size: 0.8rem;
    }
    .single-line{
        width: 90%
    }
    .down-part h2{
        font-size: 1.2rem;
    }
    #scale{
        height: 2rem;
        width: 2rem;
    }
}
@media only screen and (max-width: 450px) {
    .account{
        width:20rem;
    }
    #green{
        font-size: 1.5rem;
        margin-right: 0.5rem;
    }
    .left-part h1,
    .up-part h1,
    .down-part h1{
        font-size: 0.7rem;
    }
    .down-part img{
        height: 1.2rem;
        width: 12rem;
    }
    .right-buttons{
        margin-right: 0.5rem;
    }
    .up-part button {
        height: 2rem;
        width: 3.5rem;
        font-size: 0.7rem;
    }
    .single-line{
        width: 70%
    }
    .down-part h2{
        font-size: 1.0rem;
    }
    .img-border,
    .img-border img{
        width: 2rem;
        height: 2rem;
    }
    .single-column-right{
        display: none;
    }
}